[[source]]
name = "pypi"
url = "https://pypi.org/simple"
verify_ssl = true

[[source]]
name = "pytorch"
url = "https://download.pytorch.org/whl/cu92"
verify_ssl = false

[dev-packages]
pynvim = "*"
python-language-server = {extras = ["all"], version = "*"}
pyls-black = "*"
pyls-mypy = "*"
pyls-isort = "*"

[packages]
torch = {index = "pytorch",version = "==1.6.0"}
jupyterlab = "*"
pytorch-transformers = "*"
pandas = "*"
numpy = "*"
torchvision = "*"

[requires]
python_version = "3.8"

[pipenv]
allow_prereleases = true
